USE [master]
GO
/****** Object:  Database [Progresh_ann]    Script Date: 19.02.2026 14:50:25 ******/
CREATE DATABASE [Progresh_ann]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Progresh_ann', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Progresh_ann.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Progresh_ann_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Progresh_ann_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Progresh_ann].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Progresh_ann]
GO
/****** Object:  Table [dbo].[Material_type_import]    Script Date: 19.02.2026 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type_import](
	[id] [int] NOT NULL,
	[material_type] [nvarchar](50) NOT NULL,
	[procent_of_material_brak] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Копия Material_type_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials_import]    Script Date: 19.02.2026 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials_import](
	[id] [int] NOT NULL,
	[material_name] [nvarchar](100) NOT NULL,
	[id_material_type] [int] NOT NULL,
	[price_of_unit] [float] NOT NULL,
	[quanitity] [float] NOT NULL,
	[min_quantity] [float] NOT NULL,
	[quanitity_in_pack] [float] NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Копия Materials_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_materials_import]    Script Date: 19.02.2026 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_materials_import](
	[id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[id_material] [int] NOT NULL,
	[needed_quanitity] [float] NOT NULL,
 CONSTRAINT [PK_Копия Product_materials_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type_import]    Script Date: 19.02.2026 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type_import](
	[id] [int] NOT NULL,
	[production_type] [nvarchar](50) NOT NULL,
	[coefficient_product_type] [float] NOT NULL,
 CONSTRAINT [PK_Копия Product_type_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_import]    Script Date: 19.02.2026 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_import](
	[id] [int] NOT NULL,
	[id_product_type] [int] NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[article] [int] NOT NULL,
	[min_price_for_partner] [float] NOT NULL,
	[width_m] [float] NOT NULL,
 CONSTRAINT [PK_Копия Products_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.02.2026 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[role1] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19.02.2026 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[name_user] [nchar](10) NOT NULL,
	[login_user] [nchar](10) NOT NULL,
	[password_user] [nchar](10) NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Material_type_import] ([id], [material_type], [procent_of_material_brak]) VALUES (1, N'Бумага', N'0,70%')
INSERT [dbo].[Material_type_import] ([id], [material_type], [procent_of_material_brak]) VALUES (2, N'Дисперсия', N'0,20%')
INSERT [dbo].[Material_type_import] ([id], [material_type], [procent_of_material_brak]) VALUES (3, N'Клей', N'0,15%')
GO
INSERT [dbo].[Materials_import] ([id], [material_name], [id_material_type], [price_of_unit], [quanitity], [min_quantity], [quanitity_in_pack], [unit]) VALUES (1, N'Акрилат-винилацетатная дисперсия для производства бумаги', 2, 15.5, 1000, 660, 220, N'л')
INSERT [dbo].[Materials_import] ([id], [material_name], [id_material_type], [price_of_unit], [quanitity], [min_quantity], [quanitity_in_pack], [unit]) VALUES (2, N'Акриловая дисперсия', 2, 14.9, 1000, 880, 220, N'л')
INSERT [dbo].[Materials_import] ([id], [material_name], [id_material_type], [price_of_unit], [quanitity], [min_quantity], [quanitity_in_pack], [unit]) VALUES (3, N'Ассоциативный акриловый загуститель', 2, 16.5, 400, 360, 120, N'л')
GO
INSERT [dbo].[Product_materials_import] ([id], [product_id], [product_name], [id_material], [needed_quanitity]) VALUES (1, 1, N'Обои бумажные Полосы цвет бежевый', 6, 3.6)
INSERT [dbo].[Product_materials_import] ([id], [product_id], [product_name], [id_material], [needed_quanitity]) VALUES (2, 1, N'Обои бумажные Полосы цвет бежевый', 9, 4.75)
INSERT [dbo].[Product_materials_import] ([id], [product_id], [product_name], [id_material], [needed_quanitity]) VALUES (3, 1, N'Обои бумажные Полосы цвет бежевый', 15, 1)
GO
INSERT [dbo].[Product_type_import] ([id], [production_type], [coefficient_product_type]) VALUES (1, N'Декоративные обои', 5.5)
INSERT [dbo].[Product_type_import] ([id], [production_type], [coefficient_product_type]) VALUES (2, N'Обои под покраску', 3.25)
INSERT [dbo].[Product_type_import] ([id], [production_type], [coefficient_product_type]) VALUES (3, N'Стеклообои', 2.5)
GO
INSERT [dbo].[Products_import] ([id], [id_product_type], [product_name], [article], [min_price_for_partner], [width_m]) VALUES (1, 1, N'Обои бумажные Полосы цвет бежевый', 1758375, 13500.96, 0.68)
INSERT [dbo].[Products_import] ([id], [id_product_type], [product_name], [article], [min_price_for_partner], [width_m]) VALUES (2, 1, N'Обои из природного материала Традиционный принт светло-коричневые', 1549922, 16950, 0.91)
INSERT [dbo].[Products_import] ([id], [id_product_type], [product_name], [article], [min_price_for_partner], [width_m]) VALUES (3, 2, N'Обои под покраску Рисунок Штукатурка белые', 3118827, 5890, 1.06)
GO
INSERT [dbo].[Role] ([id], [role1]) VALUES (1, N'User      ')
INSERT [dbo].[Role] ([id], [role1]) VALUES (2, N'Admin     ')
GO
INSERT [dbo].[User] ([id], [name_user], [login_user], [password_user], [role_id]) VALUES (1, N'Alexei    ', N'login1    ', N'password1 ', 1)
INSERT [dbo].[User] ([id], [name_user], [login_user], [password_user], [role_id]) VALUES (2, N'Romchik   ', N'login2    ', N'password2 ', 2)
GO
ALTER TABLE [dbo].[Materials_import]  WITH CHECK ADD  CONSTRAINT [FK_Materials_import_Material_type_import] FOREIGN KEY([id_material_type])
REFERENCES [dbo].[Material_type_import] ([id])
GO
ALTER TABLE [dbo].[Materials_import] CHECK CONSTRAINT [FK_Materials_import_Material_type_import]
GO
ALTER TABLE [dbo].[Product_materials_import]  WITH CHECK ADD  CONSTRAINT [FK_Product_materials_import_Materials_import] FOREIGN KEY([id_material])
REFERENCES [dbo].[Materials_import] ([id])
GO
ALTER TABLE [dbo].[Product_materials_import] CHECK CONSTRAINT [FK_Product_materials_import_Materials_import]
GO
ALTER TABLE [dbo].[Product_materials_import]  WITH CHECK ADD  CONSTRAINT [FK_Product_materials_import_Products_import] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products_import] ([id])
GO
ALTER TABLE [dbo].[Product_materials_import] CHECK CONSTRAINT [FK_Product_materials_import_Products_import]
GO
ALTER TABLE [dbo].[Products_import]  WITH CHECK ADD  CONSTRAINT [FK_Products_import_Product_type_import] FOREIGN KEY([id_product_type])
REFERENCES [dbo].[Product_type_import] ([id])
GO
ALTER TABLE [dbo].[Products_import] CHECK CONSTRAINT [FK_Products_import_Product_type_import]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
